# SOURCE
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

IndentWidth: 2
---
Language: Cpp

DerivePointerAlignment: false

PointerAlignment: Left

ColumnLimit: 0

AccessModifierOffset: -1

AlignAfterOpenBracket: true

AlignArrayOfStructures: Right

AllowAllArgumentsOnNextLine: true

AllowAllParametersOfDeclarationOnNextLine: true

AllowShortBlocksOnASingleLine: Empty

AllowShortCaseExpressionOnASingleLine: true

AllowShortCaseLabelsOnASingleLine: true

AllowShortCompoundRequirementOnASingleLine: true

AllowShortEnumsOnASingleLine: false

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: Never

AllowShortLambdasOnASingleLine: None

AllowShortLoopsOnASingleLine: false

AllowShortNamespacesOnASingleLine: false

BinPackArguments: false

# BinPackLongBracedList : true

BinPackParameters: OnePerLine

BitFieldColonSpacing: Both

######################################### ALIGNEMENT STYLES 

AlignConsecutiveAssignments: 
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCompound: true
    AlignFunctionPointers: false
    PadOperators: false

AlignConsecutiveBitFields: 
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCompound: true
    AlignFunctionDeclarations: true
    AlignFunctionPointers: false
    PadOperators: false

AlignConsecutiveDeclarations: 
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCompound: true
    AlignFunctionDeclarations: true
    AlignFunctionPointers: false
    PadOperators: false

AlignConsecutiveMacros: 
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCompound: true
    AlignFunctionDeclarations: true
    AlignFunctionPointers: false
    PadOperators: false

AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCaseArrows: true
    AlignCaseColons: true

AlignEscapedNewlines: LeftWithLastLine

AlignOperands: Align

AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2

##################################################################
###### BRACE WRAPPING

BreakBeforeBraces: Custom
BraceWrapping:
      AfterCaseLabel: false
      AfterClass: true
      AfterControlStatement  : Never
      AfterEnum: false
      AfterFunction: false
      AfterNamespace: false
      AfterStruct: false
      AfterUnion: false
      AfterExternBlock: false
      BeforeCatch: true
      BeforeElse: true
      BeforeLambdaBody: false
      BeforeWhile: false
      IndentBraces: false
      SplitEmptyFunction: false
      SplitEmptyRecord: false
      SplitEmptyNamespace: false

##################################################################

BracedInitializerIndentWidth: 2

BreakAdjacentStringLiterals: true

BreakAfterAttributes: Always

# BreakBeforeTemplateCloser: true

BreakBinaryOperations: RespectPrecedence

BreakConstructorInitializers: AfterColon

BreakTemplateDeclarations: Leave

CompactNamespaces: true

ContinuationIndentWidth: 2

Cpp11BracedListStyle: false # https://clang.llvm.org/docs/ClangFormatStyleOptions.html#cpp11bracedliststyle

FixNamespaceComments: true # https://clang.llvm.org/docs/ClangFormatStyleOptions.html#experimentalautodetectbinpacking

IncludeBlocks: Regroup # https://clang.llvm.org/docs/ClangFormatStyleOptions.html#includeblocks

IndentPPDirectives: BeforeHash # https://clang.llvm.org/docs/ClangFormatStyleOptions.html#indentppdirectives

IntegerLiteralSeparator:
    Binary: 8

LambdaBodyIndentation: Signature #https://clang.llvm.org/docs/ClangFormatStyleOptions.html#lambdabodyindentation

# NumericLiteralCase:
#     ExponentLetter: Lower
#     HexDigit: Upper
#     Prefix: Lower
#     Suffix: Lower

# QualifierOrder: [friend, static, inline, const, constexpr, volatile]
# QualifierOrder: [inline, static, type, const, volatile]

SortUsingDeclarations: LexicographicNumeric